<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trio.component" type="Bingosoft.TrioFramework.TrioComponentSection, Bingosoft.TrioFramework" />
  </configSections>
  <trio.component>
    <excel assembly="Bingosoft.TrioFramework.Component.Excel.NPOI"/>
  </trio.component>
</configuration>