<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section
            name="trio"
            type="Bingosoft.TrioFramework.TrioSection, Bingosoft.TrioFramework" />
    </configSections>

    <trio>
        <common
            systemId="TrioFramework"
            systemAccount="TrioFramework"
            systemPassword="pass@word1"
            systemName="TrioFramework"
            encryptKey="123456" />
        <pendingJob
            isEnabled="true"
            isEnabledSMS="false"
            apiUrl="http://tedstodo.sz.gmcc.net/webservice/pendingjobII.asmx"
            jobUrl="http://itsp.sz.gmcc.net/mas/Workflow/Form/View?appCode={appCode}&amp;instanceNo={instanceNo}&amp;taskId={taskId}" />
        <workflow
            provider="Bingosoft.TrioFramework.Workflow.K2Client.K2WorkflowEngine,Bingosoft.TrioFramework.Workflow.K2Client"
            isConnectK2="false" />
        <fileServer 
            server="http://fs.sz.gmcc.net/itsp-mas-dev"
            userName="administrator"
            password="pass@word1" />
    </trio>

</configuration>