<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section
            name="trio"
            type="Bingosoft.TrioFramework.TrioSection, Bingosoft.TrioFramework" />
    </configSections>

    <trio>
        <common
            systemId="TrioFramework"
            systemAccount="TrioFramework"
            systemPassword="pass@word1"
            systemName="TrioFramework" />
        <pendingJob
            isEnabled="true"
            isEnabledSMS="false" />
    </trio>

</configuration>