<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
	<!-- 获取任务 -->
	<command key="trio.k2client.pendingjob.get"><![CDATA[
	SELECT * FROM dbo.WF_PendingJob WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
	]]></command>

	<!-- 标记推送任务 -->
	<command key="trio.k2client.pendingjob.addtodo"><![CDATA[
    INSERT INTO dbo.WF_PendingJob(InstanceNo,TaskId,JobId,JobTitle,Url,UserId,UserName,DoDelete,DoPush,DoFinish,CreateTime,PushedTime,FinishedTime,DeletedTime,Result,Creator,CreatorId)
    SELECT wwi.InstanceNo, wwi.TaskId, '', wi.Title, #Url#, ISNULL(wwi.MandataryId, wwi.PartId), ISNULL(wwi.Mandatary, wwi.PartName), 0, 1, 0, GETDATE(), NULL, NULL, NULL, '', wi.Creator, wi.CreatorId FROM dbo.WF_WorkflowInstance wi WITH(NOLOCK)
    INNER JOIN dbo.WF_WorkflowItem wwi WITH(NOLOCK) ON wi.InstanceNo = wwi.InstanceNo AND wwi.TaskId = #TaskId#
    WHERE wi.InstanceNo = #InstanceNo# AND wwi.FinishTime IS NULL
    ]]></command>

	<!-- 更新任务推送成功状态 -->
	<commands key="trio.k2client.pendingjob.push.success"><![CDATA[
  UPDATE dbo.WF_PendingJob SET JobId = #JobId#, Result = '', PushedTime = GETDATE(), ErrorTimes = 0 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></commands>

  <!-- 更新任务完成成功状态 -->
  <commands key="trio.k2client.pendingjob.finish.success"><![CDATA[
  UPDATE dbo.WF_PendingJob SET Result = '', FinishedTime = GETDATE(), ErrorTimes = 0  WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></commands>

  <!-- 更新任务删除成功状态 -->
  <commands key="trio.k2client.pendingjob.delete.success"><![CDATA[
  UPDATE dbo.WF_PendingJob SET Result = '', DeletedTime = GETDATE(), ErrorTimes = 0  WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></commands>

  <!-- 更新推送失败状态 -->
  <commands key="trio.k2client.pendingjob.failure"><![CDATA[
  UPDATE dbo.WF_PendingJob SET Result = #Result#, ErrorTimes = ISNULL(ErrorTimes, 0) + 1 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></commands>

	<!-- 标记结束待办 -->
	<command key="trio.k2client.pendingjob.update.finished"><![CDATA[
	UPDATE WF_PendingJob SET DoFinish = 1 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></command>

  <!-- 标记删除待办 -->
	<command key="trio.k2client.pendingjob.update.delete"><![CDATA[
  UPDATE WF_PendingJob SET DoDelete = 1 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
  ]]></command>

</commands>
