<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trio" type="Bingosoft.TrioFramewor.TrioSection, Bingosoft.TrioFramework"/>
  </configSections>
  <trio>
    <db connectionProvider="" systemDb="" workflowDb="" bizDb=""/>
    <common systemId="" systemAccount="" systemName="" systemPassword="" encrtypKey=""/>
    <pendingJob isEnabled="" isEnabledSms="" apiUrl="" jobUrl=""/>
    <fileServer server="" userName="" password=""/>
    <workflow provider="" isConnectK2=""/>
  </trio>
</configuration>