<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DefaultDB" connectionString="data source=192.168.1.72;initial catalog=ITSP_MAS_TRIO;user id=sa;password=pass@word1" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--LOGGER-->
		<add key="SystemName" value="TrioFramework UnitTest" />
		<!--用于界面数据加密的密钥-->
		<add key="RC4Key" value="12345678" />
		<!--流程引擎实例完全限定名-->
		<add key="WorkflowEngine" value="Bingosoft.TrioFramework.Workflow.K2Client.K2WorkflowEngine,Bingosoft.TrioFramework.Workflow.K2Client" />
		<!--是否使用在线K2服务器-->
		<add key="K2Online" value="false" />
		<!--WebDAV文件服务器配置-->
		<add key="WebDavServer" value="http://fs.sz.gmcc.net/itsp-mas-dev" />
		<add key="WebDavUserName" value="administrator" />
		<add key="WebDavPassword" value="pass@word1" />
		<!-- 推送待办地址 -->
		<add key="PendingJobUrl" value="http://itsp.sz.gmcc.net/mas/Workflow/Form/View?appCode={appCode}&amp;instanceNo={instanceNo}&amp;taskId={taskId}" />
	</appSettings>
</configuration>