<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
  <!-- 更新系统参数 -->
  <command key="trio.framework.param.update">
    <![CDATA[
    IF((SELECT COUNT(1) FROM dbo.SYS_Param WHERE Code = #Code#) > 0)
    BEGIN
      UPDATE dbo.SYS_Param SET Value = #Value# WHERE Code = #Code#
    END
    ELSE
    BEGIN
      INSERT dbo.SYS_Param(Code,Value)VALUES(#Code#,#Value#)
    END
    ]]>
  </command>
  <!-- 获取系统参数值 -->
  <command key="trio.framework.param.get">
    <![CDATA[
    SELECT Value FROM dbo.SYS_Param WHERE Code = #Code#
    ]]>
  </command>
</commands>