<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--数据库配置-->
    <!--开发环境数据库配置-->
    <add name="DefaultDB" connectionString="data source=192.168.1.72;initial catalog=ITSP_MAS;user id=sa;password=pass@word1" providerName="System.Data.SqlClient"/>
    <!--测试环境数据库配置-->
    <!--<add name="DefaultDB" connectionString="data source=192.168.1.72;initial catalog=ITSP_MAS_TEST;user id=sa;password=pass@word1" providerName="System.Data.SqlClient" />-->
    <!--K2服务器配置-->
    <add name="K2HostServer" connectionString="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=192.168.1.114;UserID=administrator;Password=pass@word2;WindowsDomain=k2wf"/>
    <add name="K2Management" connectionString="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=192.168.1.114;UserID=administrator;Password=pass@word2;WindowsDomain=k2wf;Port=5555"/>
    <add name="K2DBConnection" connectionString="Data Source=192.168.1.114;Initial Catalog=K2Server;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="K2LogDBConnection" connectionString="Data Source=192.168.1.114;Initial Catalog=K2ServerLog;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--流程引擎实例完全限定名-->
    <add key="WorkflowEngine" value="Bingosoft.TrioFramework.Workflow.K2Client.K2WorkflowEngine,Bingosoft.TrioFramework.Workflow.K2Client"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
