<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">

  <!--标记附件删除（逻辑删除）-->
  <command key="workflow.core.attachment.markdeleted">
    <![CDATA[
    UPDATE dbo.WF_Attachments SET IsDeleted = 1, DeletedBy = #DeletedBy#, DeletedTime = GETDATE() WHERE FileId = #FileId#
    ]]>
  </command>

  <!--标记附件删除（逻辑删除）-->
  <command key="workflow.core.attachment.markdisabled">
    <![CDATA[
    UPDATE dbo.WF_Attachments SET IsDisabled = 1, DisabledBy = #DisabledBy#, DisabledTime = GETDATE() WHERE FileId = #FileId#
    ]]>
  </command>
  
  <!--加载当前工单的所有附件-->
  <command key="workflow.core.attachment.load">
    <![CDATA[
    SELECT wa.*, wat.Name AS 'AttachTypeStr',
    (CASE WHEN wa.ActivityName = wi.CurrentActivity THEN 1 ELSE 0 END) AS IsCanDownload,
    (CASE WHEN wa.ActivityName = wi.CurrentActivity THEN 1 ELSE 0 END) AS IsCanDeleted
    FROM dbo.WF_Attachments wa
    LEFT JOIN dbo.WF_WorkflowInstance wi ON wa.InstanceNo = wi.InstanceNo
    INNER JOIN dbo.WF_AttachType wat ON wa.FileType = wat.Id
    WHERE wa.InstanceNo = #InstanceNo# AND ISNULL(IsDeleted,0) = 0
    ORDER BY ISNULL(IsDisabled,0) ASC, TaskId ASC
    ]]>
  </command>
  <!--根据附件类型读取附件信息-->
  <command key="workflow.core.attachment.getbytypeid">
    <![CDATA[
    SELECT TOP 1 * FROM dbo.WF_Attachments WHERE InstanceNo = #InstanceNo# AND FileType = #FileType# AND ISNULL(IsDeleted,0) = 0 AND ISNULL(IsDisabled,0) = 0 ORDER BY CreatedTime DESC
    ]]>
  </command>
  <!--根据附件类型读取该类型所有附件信息-->
  <command key="workflow.core.attachment.getfilesbytype">
    <![CDATA[
    SELECT * FROM dbo.WF_Attachments WHERE InstanceNo = #InstanceNo# AND FileType = #FileType# AND ISNULL(IsDeleted,0) = 0 AND ISNULL(IsDisabled,0) = 0 ORDER BY CreatedTime DESC
    ]]>
  </command>
  <!--判断该流程中是否包含该类型的附件-->
  <command key="workflow.core.attachment.existsbyname">
    <![CDATA[
    SELECT COUNT(1) FROM dbo.WF_Attachments WHERE InstanceNo = #InstanceNo# AND FileType IN
    (
       SELECT Id FROM dbo.WF_AttachType WHERE Name = #FileTypeName#
    ) AND IsDeleted = 0
    ]]>
  </command>
  <!--判断该流程中是否包含该类型的附件-->
  <command key="workflow.core.attachment.existsbyid">
    <![CDATA[
    SELECT COUNT(1) FROM dbo.WF_Attachments WHERE InstanceNo = #InstanceNo# AND FileType = #FileType# AND ISNULL(IsDeleted,0) = 0 AND ISNULL(IsDisabled,0) = 0
    ]]>
  </command>
  <!--判断该流程中是否包含该类型的附件-->
  <command key="workflow.core.attachment.existsbyids">
    <![CDATA[
    SELECT COUNT(1) FROM dbo.WF_Attachments WHERE InstanceNo = #InstanceNo# AND FileType IN ($FileType$) AND ISNULL(IsDeleted,0) = 0 AND ISNULL(IsDisabled,0) = 0
    ]]>
  </command>
  <!--获取所有附件类型-->
  <command key="workflow.core.attachtype.getall">
    <![CDATA[
    SELECT Id, Name FROM dbo.WF_AttachType
    ]]>
  </command>
</commands>