<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
    
    <!--获取所有个人常用意见-->
    <command key="trio.workflow.opinion.personal.getall">
      <![CDATA[
        SELECT Content FROM dbo.WF_PersonalOpinions WHERE UserId = #UserId# AND ISNULL(IsDeleted, 0) = 0 ORDER BY UsedTimes DESC
      ]]>
    </command>

    <!--检查个人常用意见是否已存在-->
    <command key="trio.workflow.opinion.personal.isexists">
      <![CDATA[
        SELECT COUNT(1) FROM dbo.WF_PersonalOpinions WHERE UserId = #UserId# AND Content = #Content#
      ]]>
    </command>

    <!--增加个人常用意见的使用次数-->
    <command key="trio.workflow.opinion.personal.addusedtimes">
      <![CDATA[
        UPDATE dbo.WF_PersonalOpinions SET UsedTimes = ISNULL(UsedTimes, 0) + 1 WHERE UserId = #UserId# AND Content = #Content#
      ]]>
    </command>

    <!--标记删除个人常用意见-->
    <command key="trio.workflow.opinion.personal.markdeleted">
      <![CDATA[
        UPDATE dbo.WF_PersonalOpinions SET IsDeleted = 1, DeleteTime = GETDATE() WHERE UserId = #UserId# AND Content = #Content#
      ]]>
    </command>

    <!--获取该流程的所有中途意见-->
    <command key="trio.workflow.opinion.midway.getall">
      <![CDATA[
        SELECT * FROM dbo.WF_MidwayOpinions WHERE InstanceNo = #InstanceNo# ORDER BY Id ASC
      ]]>
    </command>

</commands>