<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
  <!-- 获取当前环节需要上传的附件 -->
  <command key="framework.attachment.getuploadtypes">
    <![CDATA[
        SELECT Attachment FROM dbo.K2_ActivityConfig WHERE AppCode = #AppCode# AND [Version] = #Version# AND ActivityName = #CurrentActi#
    ]]>
  </command>
  <!-- 获取当前环节必须上传的附件 -->
  <command key="framework.attachment.getrequiretypes">
    <![CDATA[
        SELECT RequireAttachment FROM dbo.K2_ActivityConfig WHERE AppCode = #AppCode# AND [Version] = #Version# AND ActivityName = #CurrentActi#
    ]]>
  </command>
</commands>