<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="trio" type="Bingosoft.TrioFramework.TrioSection, Bingosoft.TrioFramework" />
    </configSections>
    <trio>
        <common systemId="TrioFramework" systemAccount="TrioFramework" systemPassword="pass@word1" systemName="TrioFramework" />
        <pendingJob isEnabled="false" isEnabledSMS="false" url="http://edtodo.sz.gmcc.net/webservice/pendingjobII.asmx" />
    </trio>
    <connectionStrings>
        <add name="DefaultDB" connectionString="data source=192.168.1.72;initial catalog=ITSP_MAS_TRIO;user id=sa;password=pass@word1" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>