<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
    <!-- 获取推送任务 -->
    <command key="trio.winservices.pendingjob.get.dopush"><![CDATA[
    SELECT TOP 10 * FROM dbo.WF_PendingJob WITH(NOLOCK) WHERE DoPush = 1 AND PushedTime IS NULL AND ISNULL(ErrorTimes,0) < 3 ORDER BY CreateTime ASC
    ]]></command>

    <!-- 获取结束任务 -->
    <command key="trio.winservices.pendingjob.get.dofinish"><![CDATA[
    SELECT TOP 10 * FROM dbo.WF_PendingJob WITH(NOLOCK) WHERE DoFinish = 1 AND FinishedTime IS NULL AND ISNULL(ErrorTimes,0) < 3  ORDER BY CreateTime ASC
    ]]></command>

    <!-- 获取删除任务 -->
    <command key="trio.winservices.pendingjob.get.dodelete"><![CDATA[
    SELECT TOP 10 * FROM dbo.WF_PendingJob WITH(NOLOCK) WHERE DoDelete = 1 AND DeletedTime IS NULL AND ISNULL(ErrorTimes,0) < 3  ORDER BY CreateTime ASC
    ]]></command>

    <!--获取工单建单人-->
    <command key="trio.winservices.pendingjob.get.creator"><![CDATA[
    SELECT CreatorId, Creator FROM dbo.WF_WorkflowInstance WHERE InstanceNo = #InstanceNo#
    ]]></command>
</commands>