<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- 注册assembly后在<register>元素中的type属性不需要再重复输入assembly的名称 -->
    <assembly name="Bingosoft.Core" />
    <assembly name="Bingosoft.Data" />
    <assembly name="Bingosoft.Environment" />
    <assembly name="Bingosoft.Security" />

    <container>

      <!-- 安全模块 -->
      <!--<register name="SecurityHttpModule"
                type="Bingosoft.Core.IAppHttpModule"
                mapTo="Bingosoft.Security.SecurityModule">
        <lifetime type="singleton" />
        <constructor />
      </register>-->

      <!--向Dao注册环境变量参数，可以在SQL中使用环境变量-->
      <register name="EnvironmentParameters"
                type="Bingosoft.Data.ISqlParameters"
                mapTo="Bingosoft.Environment.EnvironmentParameters">
        <lifetime type="singleton"/>
        <constructor/>
      </register>

      <!-- 向Dao注册一个名称为security的Action，
                 可以在SQL中编写 @security{operation;defaultRule}来进行数据权限控制
            -->
      <register name="security"
                type="Bingosoft.Data.ISqlActionExecutor"
                mapTo="Bingosoft.Security.Rule.SecurityRuleExecutor">
        <lifetime type="singleton" />
        <constructor />
      </register>

    </container>
  </unity>
</configuration>