<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
  <!-- 获取指定用户信息（角色、部门） -->
  <command key="K2Client.User.GetListByRoleOrg">
    <![CDATA[
    SELECT  u.[Id], u.[Name], u.[LoginId], u.[Email], u.[MobilePhone], u.[Sex], u.[Birthday],
            u.[Status], u.[OrgId] AS DeptId
    FROM    dbo.SEC_User u
    WHERE   (u.OrgId IN (SELECT Id FROM dbo.SEC_Organization WHERE Parent = #OrgId#) OR u.OrgId = #OrgId#)
            AND EXISTS ( SELECT 1
                         FROM   dbo.SEC_Role r
                         INNER JOIN dbo.SEC_UserRole ur ON ur.RoleId = r.Id
                         WHERE  r.Name = #RoleName#
                                AND ur.UserId = u.Id )
    ]]>
  </command>

  <!-- 获取部门信息 -->
  <command key="K2Client.Organization.GetParentId">
    <![CDATA[
    SELECT  [Parent]
    FROM    dbo.SEC_Organization
    WHERE   Id = #OrgId#
    ]]>
  </command>

  <!-- 获取所有流程定义 -->
  <command key="k2client.definition.getprocsetid" connection="K2DBConnection">
    <![CDATA[
    SELECT [ID] FROM [dbo].[_ProcSet] WHERE FullName = #AppName#
    ]]>
  </command>


  <!-- 获取所有流程定义 -->
  <command key="K2Client.Definition.GetAll">
    <![CDATA[
    SELECT * FROM [WF_Definition]
    ]]>
  </command>

  <!-- 获取流程定义相关的人员配置信息 -->
  <command key="k2clinet.definition.getactors">
    <![CDATA[
    SELECT  a.[ActivityName], a.[RoleName], a.[RoleBase],
            a.[DeptId], a.[RefActivityName]
    FROM    [dbo].[K2_ActivityConfig] a
    WHERE   a.[AppCode] = #AppCode#
        AND a.[Version] = #Version#

    ]]>
  </command>

  <!-- 获取流程实例 -->
  <command key="K2Client.Instance.Get">
    <![CDATA[
    SELECT  [InstanceNo], [AppCode], [Version], [Title], [CreatorId], [Creator],
        [CreatorDeptId], [CreatorDeptName], [StartTime], [EndTime], [Status],
        [CurrentActivity], [DataLocator]
    FROM    [dbo].[WF_WorkflowInstance]
    WHERE   InstanceNo = #InstanceNo#
    ]]>
  </command>

  <!-- 获取流程实例指定的办理记录 -->
  <command key="K2Client.Instance.GetWorkItem">
    <![CDATA[
    SELECT  [TaskId], [InstanceNo], [PartId], [PartName], [PartDeptId],
        [PartDeptName], [ReceTime], [ReadTime], [FinishTime], [AutoFinished],
        [TaskStatus], [Comment], [CurrentActi], [Choice]
    FROM    [dbo].[WF_WorkflowItem]
    WHERE   InstanceNo = #InstanceNo# 
      AND   [TaskId] = #TaskId#
    ]]>
  </command>

  <!-- 获取流程实例指定的办理记录 -->
  <command key="K2Client.Instance.GetWorkItemListByActivityName">
    <![CDATA[
    SELECT  [TaskId], [InstanceNo], [PartId], [PartName], [PartDeptId],
        [PartDeptName], [ReceTime], [ReadTime], [FinishTime], [AutoFinished],
        [TaskStatus], [Comment], [CurrentActi], [Choice]
    FROM    [dbo].[WF_WorkflowItem]
    WHERE   InstanceNo = #InstanceNo# 
    AND   [CurrentActi] = #ActivityName#
    AND FinishTime IS NULL
    ]]>
  </command>


  <!-- 获取该流程该环节的上一个办理人 -->
  <command key="k2client.instance.getlastactivityuser">
    <![CDATA[
    SELECT TOP 1 su.*, su.OrgId AS 'DeptId'
    FROM    [dbo].[WF_WorkflowItem] wi
    INNER JOIN dbo.SEC_User su ON wi.PartId = su.Id
    WHERE   wi.InstanceNo = #InstanceNo# 
    AND   wi.[CurrentActi] = #ActivityName#
    AND wi.FinishTime IS NOT NULL
    AND wi.AutoFinished = 0    
    ORDER BY wi.TaskId DESC
    ]]>
  </command>

  <!-- 获取流程实例相关的办理记录 -->
  <command key="K2Client.Instance.GetWorkItemList">
    <![CDATA[
    SELECT  [TaskId], [InstanceNo], [PartId], [PartName], [PartDeptId],
        [PartDeptName], [ReceTime], [ReadTime], [FinishTime], [AutoFinished],
        [TaskStatus], [Comment], [CurrentActi], CASE AutoFinished WHEN 1 THEN '自动提交' ELSE [Choice] END AS 'Choice'
    FROM    [dbo].[WF_WorkflowItem]
    WHERE   InstanceNo = #InstanceNo#
    ]]>
  </command>


  <!-- 获取最后的流程办理记录 -->
  <command key="K2Client.Instance.GetWorkItemLastTaskId">
    <![CDATA[
    SELECT  max([TaskId]) LastTaskId
    FROM    [WF_WorkflowItem]
    WHERE   InstanceNo = #InstanceNo#
    ]]>
  </command>

  <!-- 更新流程记录已读时间 -->
  <command key="K2Client.Instance.UpdateWorkItemReadTime">
    <![CDATA[
    UPDATE dbo.WF_WorkflowItem
    SET ReadTime = GETDATE()
    WHERE   InstanceNo = #InstanceNo# 
      AND   [TaskId] = #TaskId#
    ]]>
  </command>

  <!--获取该角色的用户列表-->
  <command key="k2client.actor.getroleusers">
    <![CDATA[
    SELECT su.* FROM dbo.SEC_User su
    INNER JOIN dbo.SEC_UserRole sur ON su.Id = sur.UserId
    INNER JOIN dbo.SEC_Role sr ON sr.Id = sur.RoleId
    WHERE sr.Name = #RoleName#
    ]]>
  </command>

  <!--获取当前最大的实例编号-->
  <command key="k2Client.Instance.GetMaxNo">
    <![CDATA[
    SELECT TOP 1 InstanceNo FROM dbo.WF_WorkflowInstance ORDER BY InstanceNo DESC
    ]]>
  </command>

</commands>