<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
	<!-- 获取任务 -->
	<command key="trio.k2client.pendingjob.get"><![CDATA[
	SELECT * FROM dbo.WF_PendingJob WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
	]]></command>

	<!-- 推送任务 -->
	<command key="trio.k2client.pendingjob.addtodo"><![CDATA[
    INSERT INTO dbo.WF_PendingJob(InstanceNo,TaskId,JobId,JobTitle,Url,UserId,UserName,DoDelete,DoPush,DoFinish,PushedTime,FinishedTime,DeletedTime,Result)
	SELECT wwi.InstanceNo, wwi.TaskId, '', wi.Title, #Url#, wwi.PartId, wwi.PartName, 0, 1, 0, NULL, NULL, NULL, '' FROM dbo.WF_WorkflowInstance wi
	INNER JOIN dbo.WF_WorkflowItem wwi ON wi.InstanceNo = wwi.InstanceNo AND wwi.TaskId = #TaskId#
	WHERE wi.InstanceNo = #InstanceNo# AND wwi.FinishTime IS NULL
    ]]></command>

	<!-- 更新iOffice任务id -->
	<commands key="trio.k2client.pendingjob.update.jobid"><![CDATA[
	UPDATE dbo.WF_PendingJob SET JobId = #JobId#  WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
    ]]></commands>

	<!-- 结束待办 -->
	<command key="trio.k2client.pendingjob.update.finished"><![CDATA[
	UPDATE WF_PendingJob SET DoFinish = 1 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
    ]]></command>

    <!-- 删除待办 -->
	<command key="trio.k2client.pendingjob.update.delete"><![CDATA[
    UPDATE WF_PendingJob SET DoDelete = 1 WHERE InstanceNo = #InstanceNo# AND TaskId = #TaskId#
    ]]></command>

</commands>
