<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
    
    <!--根据委托人获取委托信息-->
    <command key="trio.workflow.delegate.getby.delegatorid"><![CDATA[
    SELECT TOP 1 tb.* FROM 
    (
        SELECT * FROM dbo.WF_Delegates WHERE AppCode = 0 AND DelegatorId = #DelegatorId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
        UNION ALL
        SELECT * FROM dbo.WF_Delegates WHERE AppCode = #AppCode# AND DelegatorId = #DelegatorId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
    ) AS tb
    ]]></command>

    <!--根据被委托人获取委托信息-->
    <command key="trio.workflow.delegate.getby.mandataryid"><![CDATA[
    SELECT TOP 1 tb.* FROM 
    (
        SELECT * FROM dbo.WF_Delegates WHERE AppCode = 0 AND MandataryId = #MandataryId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
        UNION ALL
        SELECT * FROM dbo.WF_Delegates WHERE AppCode = #AppCode# AND MandataryId = #MandataryId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
    ) AS tb
    ]]></command>

    <!--检查是否有有效委托-->
    <command key="trio.workflow.delegate.is.delegate"><![CDATA[
    SELECT TOP 1 tb.* FROM 
    (
        SELECT COUNT(1) AS 'Count' FROM dbo.WF_Delegates WHERE AppCode = 0 AND DelegatorId = #DelegatorId# AND MandataryId = #MandataryId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
        UNION ALL
        SELECT COUNT(1) AS 'Count' FROM dbo.WF_Delegates WHERE AppCode = #AppCode# AND DelegatorId = #DelegatorId# AND MandataryId = #MandataryId# AND StartTime <= GETDATE() AND EndTime >= GETDATE() AND ISNULL(IsDeleted,0) = 0
    ) AS tb
    ]]></command>

</commands>