<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">

  <!-- 返回用户登录所用的信息：目前只需登录密码，如果有用户状态，请过滤掉非启用状态的用户 -->
  <command key="Trio.Logger.BusinessLog.Insert">
    <![CDATA[
       INSERT INTO [SYS_BusinessOperateLog]([Application],[Module],[Actor],[Action],[ActionContent],[ActionTime],[IsSuccess],[ExceptionType],[ExceptionMsg])
       VALUES(@Application,,@Module,,@Actor,@Action,@ActionContent,,@ActionTime,@IsSuccess,@ExceptionType,@ExceptionMsg)
    ]]>
  </command>
</commands>