<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
  <!-- 查询该需求简表数据项的自定义条件信息 -->
  <command key="trio.framework.dictionary.getbycode">
    <![CDATA[
        SELECT Code, [Text] FROM dbo.SYS_DictionaryItems WHERE DictionaryId IN (SELECT Id FROM dbo.SYS_Dictionaries WHERE Code = #Code#) AND Status = 'enabled' AND IsDelete = 0 ORDER BY OrderId
    ]]>
  </command>
</commands>